
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EARNET COMPANY</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
<span id="logo">EarNET COMPANY INVEST</span>
<img src="images/logo.jpg" alt="logo" height="100px" width="100px" id="logo">
    </header>
    <nav>
<a href="/Task">Task</a>
<a href="/Wealthfund">Wealthfund</a>
<a href="/Team">Team</a>
<a href="/Mine">Mine</a>
    </nav>
    <main>
<h2 class="welcome">Welcome to EARNET Company, the future of investment lies here</h2>

<p class="para">"Welcome to EARNET Invest, where your financial growth is our priority. We are dedicated to providing innovative and secure investment opportunities that empower individuals and businesses to build lasting wealth. With a commitment to transparency, strategic expertise, and a keen understanding of market trends, we offer tailored solutions designed to maximize returns while minimizing risk. Whether you're a seasoned investor or just beginning your journey, our trusted professionals are here to guide you every step of the way. Join us in shaping a prosperous future—because at EARNET, your success is our investment."</p>
    </main>
    <div class="container">
     <img src="images/$100.jpg" alt="f1" height="200px" width="200px" id="im">
     <img src="images/bitcoin.jpg" alt="f2" height="200px" width="200px"id="im">
     <img src="images/cashback.jpg" alt="f3" height="200px" width="200px"id="im">
     <img src="images/coins.jpg" alt="f4" height="200px" width="200px"id="im">
     <img src="images/coins2.jpg" alt="f5" height="200px" width="200px"id="im">
     <img src="images/dollarcatoon.jpg" alt="f6" height="200px" width="200px"id="im">
     <img src="images/fxchart.jpg" alt="f7" height="200px" width="200px"id="im">

     <!--<img src="images/fxchart2.jpg" alt="f8" height="200px" width="200px"id="im">
     <img src="images/pigsave.jpg" alt="f9" height="200px" width="200px"id="im">
     <img src="images/skycraper.jpg" alt="f10" height="200px" width="200px"id="im">
     <img src="images/wolfcoin.jpg" alt="f11" height="200px" width="200px"id="im">
     <img src="images/womaninv.jpg" alt="f12" height="200px" width="200px"id="im">-->
    </div>
    <hr>
    <footer>
        <div>
            <p>Dedicated to serving our esteemed clients</p>
            <p>EARNET Company Invest &copy2025</p>
                <a href="/Admin">Admin</a>
        </div>

    </footer>
</body>
</html>